<select class="form-select" @bind="Value">
    <option value="">All</option>
    @if (Statuses is not null)
    {
        foreach (var s in Statuses)
        {
            <option value="@s">@s</option>
        }
    }
</select>

@code {
    [Parameter] public string? Value { get; set; }
    [Parameter] public EventCallback<string?> ValueChanged { get; set; }
    [Parameter] public IEnumerable<string>? Statuses { get; set; }
}
